.Projects {
    display: flex;
    margin-top: 64px;
}

.ProjectsControl {
    flex-grow: 1;
    margin: 0 48px 0 32px;
}

.Navigator {
    position: relative;
}

.Indicator {
    background-color: var(--theme-color-2);
    border-radius: 25px 0 0 25px;
    height: 50px;
    left: 0;
    position: absolute;
    right: 0;
    transition: top 80ms;
    z-index: -1;
}

.ProjectList {
    list-style-type: none;
    padding: 0;
}

.ProjectName {
    cursor: pointer;
    font-size: 16px;
    text-align: right;
    padding: 16px 18px;
}

.ProjectDetailContainer {
    --project-detail-container-width: 800px;
    --project-detail-container-height: 400px;

    display: flex;
    height: var(--project-detail-container-height);
    justify-content: center;
    position: relative;
    width: var(--project-detail-container-width);
}

.ProjectDetail {
    left: 50%;
    overflow: clip;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
}

.ExpandAnimation {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: expand;
    animation-timing-function: cubic-bezier(.4, 0, .4, 1);
}

.CloseAnimation {
    animation-name: close;
}

@keyframes expand {
    from {
        height: 0;
        width: 0;
    }

    to {
        height: 100%;
        width: 100%;
    }
}

@keyframes close {
    from {
        height: 100%;
        width: 100%;
    }

    to {
        height: 0;
        width: 0;
    }
}

.ProjectDetailFrame {
    --project-detail-container-padding: 48px;
    --project-detail-width: calc(var(--project-detail-container-width) - var(--project-detail-container-padding) * 2);
    --project-detail-height: calc(var(--project-detail-container-height) - var(--project-detail-container-padding) * 2);

    box-sizing: border-box;
    height: 100%;
    padding: var(--project-detail-container-padding);
    position: relative;
    width: 100%;
}

.ProjectDetailFrameUpperLeftCorder,
.ProjectDetailFrameLowerRightCorder {
    --corner-border-length: 30px;
    --corner-border-width: 8px;

    border-color: var(--theme-color-2);
    border-style: solid;
    height: var(--corner-border-length);
    position: absolute;
    width: var(--corner-border-length);
}

/* 1px padding is set below to avoid CSS animation leaving trails. */

.ProjectDetailFrameUpperLeftCorder {
    border-width: var(--corner-border-width) 0 0 var(--corner-border-width);
    left: 1px;
    top: 1px;
}

.ProjectDetailFrameLowerRightCorder {
    border-width: 0 var(--corner-border-width) var(--corner-border-width) 0;
    bottom: 1px;
    right: 1px;
}