.EditorContainer {
  display: flex;
}

.LineNumbers {
  background-color: var(--color-surface-variant);
  text-align: right;
  padding-right: 10px;
  user-select: none;
  width: 30px;
  overflow: hidden;
}

.Textarea {
  flex: 1;
  border: none;
  outline: none;
  background-color: var(--color-surface);
  color: var(--foreground-rgb);
  resize: none;
  white-space: pre-wrap;
}

.LineNumbers,
.Textarea {
  line-height: 1.25rem;
  padding: 10px;
}