.WriteContainer {
  flex-grow: 1;
  display: block;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 14px;
}

.Title {
  margin-bottom: 8px;
}

.Title textarea {
  font-size: 24px;
}

.Content {
  margin-top: 8px;
}

.ImageRow {
  display: flex;
  margin-top: 28px;
  gap: 4px;
  overflow-x: scroll;
  padding-bottom: 6px;
}

.Image {
  width: 200px;
  height: 150px;
  margin-right: 4px;
  cursor: pointer;
}

.MainImage {
  border: 4px solid var(--theme-color-2);
}

.ControlRow {
  display: flex;
  margin-top: 18px;
  justify-content: end;
}

.SubmitButton {
  margin-left: 8px;
}