.WriteContainer {
  flex-grow: 1;
  display: block;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 14px;
}

.Title {
  margin-bottom: 8px;
}

.Title textarea {
  font-size: 24px;
}

.ControlRow {
  margin-top: 28px;
}