.Intro {
    margin: 14px 32px;
    font-size: 32px;
    display: flex;
}

.IntroMain {
    flex-grow: 1;
}

.IntroQuote {
    font-style: italic;
    line-height: 64px;
    margin-top: 36px;
    font-size: 48px;
    text-align: center;
}

.IntroImage {
    border-radius: 12px;
    object-fit: cover;
    height: 440px;
    width: 330px;
}

.Hi {
    font-size: 18px;
    margin: 24px 0;
}
