.PostItem {
  background-color: var(--theme-color-5);
  cursor: pointer;
  padding: 16px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  transition: background-color 120ms;
  overflow: hidden;
}

.PostItem:hover {
  background-color: var(--theme-color-4);
}

.Thumbnail {
  margin: -16px -16px 14px -16px;
  aspect-ratio: 2 / 1;
}

.Category {
  font-size: 12px;
}

.Title {
  font-size: 14px;
  flex-grow: 1;
  margin: 14px 0;
}

.Content {
  display: -webkit-box;
  margin: 12px 0;
  word-break: break-all;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 12px;
}

.Timestamp {
  font-size: 12px;
  margin-top: 8px;
  text-align: right;
}