.PostItem {
  background-color: var(--color-surface);
  cursor: pointer;
  padding: 16px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  transition: background-color 120ms;
  overflow: hidden;
}

.PostItem:hover {
  background-color: var(--color-surface-hover);
}

.ThumbnailContainer {
  margin: -16px -16px 14px -16px;
  aspect-ratio: 2 / 1;
  position: relative;
}

.Thumbnail {
  object-fit: cover;
}

.Category {
  font-size: 12px;
}

.Metadata {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.Title {
  font-size: 14px;
  flex-grow: 1;
  margin: 14px 0;
}

.Content {
  display: -webkit-box;
  margin: 12px 0;
  word-break: break-all;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 12px;
}

.Bottom {
  color: var(--color-text-variant);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  margin-top: 8px;
}

.CommentIcon {
  font-size: 14px;
  margin-right: 8px;
  transform: translateY(3px);
}

@media screen and (max-width: 450px) {
  .PostItem {
    flex-direction: row;
  }

  .ThumbnailContainer {
    border-radius: 4px;
    margin: 0 12px 0 0;
    width: 100px;
    flex-shrink: 0;
    overflow: hidden;
  }
}