.ExperienceItem {
    display: flex;
    height: 96px;
    padding: 0 12px;
}

.ExperienceItem:last-of-type {
    display: flex;
    height: 70px;
}

.ExperienceItem:last-of-type .Line {
    display: none;
}

.Progress {
    margin-right: 12px;
    text-align: center;
}

.Indicator {
    border-radius: 50%;
    display: inline-block;
    height: 8px;
    width: 8px;
}

.Active .Indicator {
    background-color: var(--active-color);
}

.Deactive .Indicator,
.Deactive .Line {
    background-color: var(--deactive-color);
}

.Line {
    display: inline-block;
    height: 100%;
    margin-top: -4px;
    width: 1px;
}

.Active .Line {
    background: linear-gradient(var(--active-color) 35%, var(--deactive-color));
}

.Body {
    flex-grow: 1;
}

.Title {
    font-size: 14px;
}

.BodyFooter {
    font-size: 12px;
    line-height: 18px;
    margin-top: 8px;
}

.Ongoing .Title {
    font-size: 18px;
    font-weight: bold;
}
