.Intro {
    margin: 14px 32px 84px;
    font-size: 32px;
    display: flex;
}

.IntroMain {
    flex-grow: 1;
}

.IntroQuote {
    background-color: var(--theme-color-1);
    font-size: 48px;
    font-style: italic;
    left: 0;
    line-height: 64px;
    margin: 18px 0 0 -32px;
    min-width: 690px;
    padding: 8px 128px 8px 0;
    position: absolute;
    right: calc(50% - 238px);
    text-align: right;
    z-index: -1;
}

.IntroImage {
    border-radius: 12px;
    margin-top: 18px;
    height: 360px;
    width: 270px;
}

.Hi {
    font-size: 18px;
    margin: 24px 0;
}
