.Intro {
    margin: 14px 32px 84px;
    font-size: 32px;
    display: flex;
}

.IntroMain {
    flex-grow: 1;
}

.IntroQuote {
    background-color: var(--theme-color-1);
    font-style: italic;
    line-height: 64px;
    margin: 18px 0 0 -32px;
    padding: 8px 0;
    font-size: 48px;
    text-align: center;
}

.IntroImage {
    border-radius: 12px;
    margin-top: 18px;
    height: 360px;
    width: 270px;
}

.Hi {
    font-size: 18px;
    margin: 24px 0;
}
