.Footer {
  background-color: var(--color-surface);
  margin: 0 -24px -24px -24px;
  padding: 48px 48px 24px;
  text-align: end;
}

.Login {
  color: var(--color-text-variant);
  cursor: pointer;
}

.Login:hover {
  text-decoration: underline;
}

.Copyright {
  text-align: center;
  color: var(--color-text-variant);
  margin-top: 24px;
}