:root {
  --foreground-rgb: var(--color-text);
  --background-rgb: var(--color-background);
  --border-color: var(--color-surface-outline);

  --active-color: var(--color-primary);
  --deactive-color: var(--color-fill-base-500);

  --module-background-color: var(--color-surface);
  --module-hover-background-color: var(--color-surface-variant);
  --module-gap: 18px;

  --transition-duration: 150ms;
}

body {
  box-sizing: border-box;
  color: var(--foreground-rgb);
  background: var(--background-rgb);
  font-size: 14px;
  margin: 0;
  padding: 24px;
}

a {
  color: var(--foreground-rgb);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.main-column {
  display: block;
  text-align: initial;
  margin: 0 auto;
  max-width: 1080px;
}