:root {
  --theme-color-0: #e6f2ff;
  --theme-color-1: #39ace7;
  --theme-color-2: #0784b5;
  --theme-color-3: #414c50;
  --theme-color-4: #2d383c;
  --theme-color-5: #091014;

  --foreground-rgb: var(--theme-color-0);
  --background-rgb: var(--theme-color-5);

  --active-color: var(--theme-color-1);
  --deactive-color: var(--theme-color-3);
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
  text-align: center;
}

.main-column {
  display: inline-block;
  text-align: initial;
  width: 1080px;
}