.ExperienceModule {
    display: inline-block;
}

.CenterModulesBlock {
    margin: 0 var(--module-gap);
    width: 451px;
}

.TwoColumnGrid {
    display: grid;
    grid-gap: var(--module-gap);
    grid-template-columns: 1fr 334px;
    margin-top: var(--module-gap);
}