.Section {
  margin-top: 24px;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Title {
  font-size: 22px;
}

.MoreLink {
  background-color: var(--color-surface);
  padding: 8px 14px;
  border-radius: 18px;
  transition: background-color 120ms;
  font-size: 12px;
}

.MoreLink:hover {
  background-color: var(--color-surface-hover);
  text-decoration: none;
}