.Body {
    display: flex;
}

.Content {
    flex-grow: 1;
}

.Image {
    border-radius: 8px;
    height: 120px;
    margin: 0 18px 8px 12px;
    width: 90px;
}

.Video {
    border: none;
    border-radius: 8px;
    height: 130px;
    margin: -10px 8px 8px 8px;
    width: 232px;
}

.Current {
    font-size: 16px;
    font-weight: bold;
    margin: 4px 0 18px 0;
}

.History {
    font-size: 14px;
}

.HistoryTitle {
    margin-bottom: 4px;
}

.HistoryItem {
    margin: 0 8px 4px 0;
}

.HistoryItemTitle {
    display: flex;
    justify-content: space-between;
}

.HistoryItemDate {
    font-size: 12px;
}