.AppBar {
  display: flex;
  padding: 4px 0;
  margin-bottom: 18px;
  align-items: center;
}

.Home {
  padding: 4px;
  margin-right: 18px;
  filter: brightness(0) invert(0.88);
}

.Home:hover {
  padding: 4px;
  filter: brightness(0) invert(1);
}

.HomeIcon {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

.Title {
  margin: 0;
  flex-grow: 1;
  font-size: 18px;
}