.SkillRow {
    box-sizing: border-box;
    display: flex;
    overflow: clip;
    padding: 14px 0;
    position: relative;
    width: 425px;
}

.LeftWing,
.RightWing {
    height: 100%;
    margin-top: -14px;
    position: absolute;
    width: 8px;
}

.LeftWing {
    background: linear-gradient(90deg, var(--module-background-color), transparent);
    left: 0;
}

.RightWing {
    background: linear-gradient(-90deg, var(--module-background-color), transparent);
    right: 0;
}