.Chip {
    background-color: var(--color-surface-variant);
    border: 1px solid var(--color-surface-variant-outline);
    border-radius: 14px;
    margin-right: 8px;
    padding: 8px 12px;
    white-space: nowrap;
}