.Comment {
  background-color: var(--theme-color-5);
  padding: 14px;
  display: flex;
}

.Box {
  display: flex;
  flex-direction: column;
}

.Photo {
  border-radius: 50%;
}

.DisplayName {
  margin-left: 8px;
}