.OpenGraphBlock {
  border: 1px solid var(--color-outline);
  display: flex;
  min-height: 200px;
}

.Image {
  width: 200px;
  object-fit: cover;
  border-right: 1px solid var(--color-outline);
}

.Content {
  margin: 4px 14px;
  padding: 14px;
  display: flex;
  flex-direction: column;
}

.Title {
  font-size: 18px;
  margin-bottom: 4px;
}

.DescriptionContainer {
  flex-grow: 1;
}

.Description {
  font-size: 12px;
  line-height: 0.9rem;
  color: var(--color-text-variant);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}