.HeaderRow {
  display: flex;
  justify-content: space-between;
}

.Divider {
  margin: 32px 0 0;
}

.Content {
  background-color: var(--theme-color-5);
  padding: 8px 14px 24px;
  line-height: 1.4rem;
}

.Image {
  display: block;
  margin: 14px auto 0;
  max-width: 100%;
}

.Caption {
  display: block;
  font-size: 12px;
  margin: 4px 0;
  text-align: center;
}