.HeaderRow {
  display: flex;
  justify-content: space-between;
}

.Divider {
  margin: 32px 0 0;
}

.Content {
  background-color: var(--color-surface);
  padding: 32px 28px;
  line-height: 1.8rem;
  font-size: 16px;
  font-family: "PT Mono", "Nanum Gothic";
}

.Content h1 {
  margin-top: 64px;
}

.Content h2 {
  margin-top: 48px;
}

.Content h3 {
  margin-top: 32px;
}

.Content a {
  line-break: anywhere;
}

.Content blockquote {
  position: relative;
}

.Content blockquote::before {
  content: "";
  width: 4px;
  background-color: var(--color-surface-variant);
  display: block;
  position: absolute;
  left: -18px;
  top: -2px;
  bottom: -2px;
}

.Content pre code {
  display: block;
  padding: 14px;
}

.Content code {
  background-color: var(--color-code-background);
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 14px;
  line-height: 1.4rem;
  overflow-x: auto;
}

@media screen and (max-width: 970px) {
  .Divider {
    margin: 32px -24px 0;
  }

  .Content {
    margin: 0 -24px;
    padding: 24px;
  }
}

.Content strong {
  color: var(--color-primary);
}

.Content .Anchor {
  color: var(--color-primary);
  text-decoration: underline;

  transition: color 120ms;
}

.Content .Anchor:hover {
  color: var(--color-primary-hover);
}

.Paragraph {
  margin: 16px 0;
}

.Image {
  display: block;
  margin: 14px auto 0;
  max-width: 100%;
  max-height: 480px;
}

.Caption {
  display: block;
  font-size: 12px;
  margin: 4px 0;
  text-align: center;
}

.HighlightedQuote {
  color: var(--color-text);
  display: block;
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 32px auto;
  position: relative;
  text-align: center;
  width: 720px;
  word-break: keep-all;
}

.HighlightedQuote::before,
.HighlightedQuote::after {
  display: block;
  color: var(--color-primary);
  font-size: 4em;
  position: absolute;
}

.HighlightedQuote::before {
  content: open-quote;
  left: -48px;
  top: 14px;
}

.HighlightedQuote::after {
  content: close-quote;
  right: -48px;
}

.CenterText {
  text-align: center;
}