.Module, .LinkModule {
    background-color: var(--module-background-color);
    border: 1px solid var(--border-color);
    border-radius: 18px;
    color: var(--foreground-color);
    display: block;
    font-size: 14px;
    padding: 12px;
    text-decoration: none;
    transition: background-color var(--transition-duration);
}

.LinkModule:hover {
    background-color: var(--module-hover-background-color);
}

.Title {
    font-size: 18px;
    margin: 8px 0 24px 12px;
}

.LinkModule .Title {
    display: flex;
    justify-content: space-between;
    margin-right: 18px;
}