.Body {
    display: flex;
    margin: 0 8px 8px;
}

.Image {
    display: block;
    height: 160px;
    width: 124px;
}

.DetailBlock {
    margin-left: 14px;
}

.BookTitle {
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 4px;
}

.BookSubtitle {
    font-size: 12px;
    margin-top: 8px;
    line-height: 18px;
}

.BookBottom {
    font-size: 12px;
    margin-top: 12px;
}

.Star {
    font-size: 16px;
}